@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: clip;
}
@media screen and (max-width: 600px){
    body{
        overflow-x: clip;
    }
}

[data-aos="rotate-c"] {
    transform: rotate(-90deg);
    transition-property: transform;
  }
  
  [data-aos="rotate-c"].aos-animate {
    transform: rotate(40deg);
  }
  
